PORT="3000"

DB_NAME="GestionClinica"

# Para mongo
DB_PORT=27017
DB_URL="mongodb://localhost:27017/"

# Para postgres
DB_SEQ_USER="postgres"
DB_SEQ_PASS="1234"
DB_HOST="localhost"

SECRETORPRIVATEKEY=a57cbdfa166240c9a0f1d1dab3f9e8b687fa2689ba8ebf91dbdbbe90d3ee3e52